-i https://pypi.org/simple
asgiref==3.7.2; python_version >= '3.7'
attrs==23.2.0; python_version >= '3.7'
certifi==2024.2.2; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
django==5.0.2
django-redis==5.4.0
djangorestframework==3.14.0
drf-spectacular==0.27.1
gunicorn==21.2.0
idna==3.6; python_version >= '3.5'
inflection==0.5.1; python_version >= '3.5'
jsonschema==4.21.1; python_version >= '3.8'
jsonschema-specifications==2023.12.1; python_version >= '3.8'
packaging==23.2; python_version >= '3.7'
pytz==2024.1
pyyaml==6.0.1
redis==5.0.1; python_version >= '3.7'
referencing==0.33.0; python_version >= '3.8'
requests==2.31.0
rpds-py==0.18.0; python_version >= '3.8'
sqlparse==0.4.4; python_version >= '3.5'
uritemplate==4.1.1; python_version >= '3.6'
urllib3==2.2.1; python_version >= '3.8'
